In [26]:
import pandas as pd
import numpy as np
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
train.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved
0,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26,1
1,p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music & The Arts, Health & Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,We strive to provide our diverse population of...,NaN,NaN,My students need matching shirts to wear for d...,1,0
2,p233823,a9b876a9252e08a55e3d894150f75ba3,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math & Science, Literacy & Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,We are looking to add some 3Doodler to our cla...,NaN,NaN,My students need the 3doodler. We are an SEM s...,5,1
3,p185307,525fdbb6ec7f538a48beebaa0a51b24f,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health & Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,"The student's project which is totally \""kid-i...",NaN,NaN,My students need balls and other activity equi...,16,0
4,p013780,a63b5547a7239eae4c1872670848e61a,Mr.,CA,2016-08-06 09:09:11,Grades 6-8,Health & Sports,Health & Wellness,We need clean water for our culinary arts class!,My students are athletes and students who are ...,For some reason in our kitchen the water comes...,NaN,NaN,My students need a water filtration system for...,42,1

In [28]:
train.shape

(182080, 16)

In [29]:
pos = sum(train['project_is_approved'])

In [30]:
pos

154346

In [39]:
trainer = train.iloc[:,[5,14]]
trainer.head(5)

  project_grade_category  teacher_number_of_previously_posted_projects
0          Grades PreK-2                                            26
1             Grades 3-5                                             1
2             Grades 3-5                                             5
3             Grades 3-5                                            16
4             Grades 6-8                                            42

In [42]:
y = train.iloc[:,[15]]
y.head(5)

   project_is_approved
0                    1
1                    0
2                    1
3                    0
4                    1

In [43]:
trainer['project_grade_category'].unique()

array(['Grades PreK-2', 'Grades 3-5', 'Grades 6-8', 'Grades 9-12'],
      dtype=object)

In [45]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
trainer.iloc[:, 0] = labelencoder.fit_transform(trainer.iloc[:, 0])

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [47]:
trainer['project_grade_category'].head(5)

0    3
1    0
2    0
3    0
4    1
Name: project_grade_category, dtype: int64

In [48]:
trainer.head(5)

   project_grade_category  teacher_number_of_previously_posted_projects
0                       3                                            26
1                       0                                             1
2                       0                                             5
3                       0                                            16
4                       1                                            42

In [49]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
X = sc_X.fit_transform(trainer)

In [51]:
X[:5,:]

array([[ 1.08343016,  0.52694675],
       [-1.19495526, -0.36540019],
       [-1.19495526, -0.22262468],
       [-1.19495526,  0.17000797],
       [-0.43549345,  1.09804879]])

In [52]:
import pickle

In [53]:
save_X = open('X.pickle','wb')
pickle.dump(X,save_X)
save_X.close()

save_y = open('y.pickle','wb')
pickle.dump(y,save_y)
save_y.close()